---
- name: Gather data
  hosts: localhost
  gather_facts: false
  vars:
    aws_region: "{{ aws_region | default('') }}"
  tasks:
    - name: Fail if aws_region is not set
      when: aws_region == ''
      ansible.builtin.fail:
        msg: "AWS region is not set"

    - name: Gather EC2 instances info
      amazon.aws.ec2_instance_info:
        region: "{{ aws_region }}"
      register: ec2_info

    - name: Build list of instances with internal IP and parsed Name
      ansible.builtin.set_fact:
        instances_with_445: >-
          {{
            instances_with_445 | default([]) + [
              {
                'id': item.instance_id,
                'name': item.tags.Name | default(''),
                'name_suffix': name_suffix,
                'internal_ip': item.network_interfaces[0].private_ip_address
              }
            ]
          }}
      vars:
        name_suffix: >-
          {{
            (item.tags.Name | regex_search('\\(([^()]*)\\)$'))[0]
            if (item.tags.Name | regex_search('\\(([^()]*)\\)$')) is not none
            else None
          }}
      loop: "{{ ec2_info.instances }}"

    - name: Check if port 445 is open on each instance
      ansible.builtin.command: "nmap -Pn -p 445 {{ item.internal_ip }}"
      register: nmap_result
      loop: "{{ instances_with_445 }}"
      changed_when: false

    - name: Filter instances where port 445 is open
      ansible.builtin.set_fact:
        instances_with_445_open: >-
          {{
            instances_with_445 | zip(nmap_result.results) | selectattr('1.stdout', 'search', '445/tcp open') | map(attribute='0') | list
          }}

    - name: Show instances with port 445 open (confirmed by nmap)
      ansible.builtin.debug:
        var: instances_with_445_open
