- name: Get hosts secrets
  ansible.builtin.include_role:
    name: manage_secret
  vars:
    manage_secret_action: get
    manage_secret_path: "windows/{{ hostvars[inventory_hostname]['instance_id'] }}"

- name: Create tempfile for host
  ansible.builtin.tempfile:
    state: file
    suffix: .pem
  register: build_connection_details_key_file

- name: Write temporary private key file
  ansible.builtin.copy:
    content: "{{ manage_secret_retrieved_data.data.private_key }}"
    dest: "{{ build_connection_details_key_file.path }}"
    mode: '600'

- name: Share host connection details
  ansible.builtin.set_fact:
    ansible_ssh_private_key_file: "{{ build_connection_details_key_file.path }}"
