[Unit]
Description=Service for Prometheus
Requires=docker.service
After=docker.service

[Service]
Type=oneshot
WorkingDirectory=/home/ec2-user
Environment=COMPOSE_HTTP_TIMEOUT=600
ExecStart=/usr/bin/env /usr/local/bin/docker-compose -f /home/ec2-user/docker-compose.yaml up -d
ExecStop=/usr/bin/env /usr/local/bin/docker-compose -f /home/ec2-user/docker-compose.yaml stop
StandardOutput=syslog
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target