[Unit]
Description=Node Exporter
Wants=network-online.target
After=network-online.target

[Service]
User=node_exporter
Group=node_exporter
Type=simple

ExecStart=/usr/local/bin/node_exporter \
  --no-collector.systemd \
  --no-collector.processes \
  --no-collector.hwmon \
  --no-collector.btrfs \
  --no-collector.zfs \
  --collector.filesystem.mount-points-exclude=^/(sys|proc|dev|run|mnt)($|/) \
  --collector.filesystem.fs-types-exclude=^(tmpfs|overlay|squashfs|cgroup2?|autofs|nsfs)$

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target