---
- name: Manage EC2 Instances (Start/Stop)
  hosts: localhost
  gather_facts: no
  vars:
    aws_region: "{{ hostvars[inventory_hostname].get('region', region | default('')) }}"
    instance_ids: []  

  tasks:


    - name: Filter instance_ids to only include monitoring_hosts* members
      ansible.builtin.set_fact:
        filtered_instance_ids: "{{ instance_ids | select('in', groups | selectattr('startswith', 'match', 'monitoring_hosts') | map('extract', groups) | flatten | map(attribute='inventory_hostname') | list) | list }}"
      vars:
        monitoring_groups: "{{ groups | dict2items | selectattr('key', 'match', '^monitoring_hosts') | map(attribute='value') | flatten }}"
        monitoring_hosts: "{{ monitoring_groups | map(attribute='inventory_hostname', default=[]) | flatten | list }}"
        instance_to_host_map: "{{ hostvars | dict2items | selectattr('value.ec2_instance_id', 'defined') | map(attribute='value.ec2_instance_id') | list }}"
      register: filter_result

    - name: Set instance_ids to filtered list
      ansible.builtin.set_fact:
        instance_ids: "{{ filtered_instance_ids }}"

    - name: Fail if instance_ids is empty
      ansible.builtin.fail:
        msg: "instance_ids is empty. Please provide instance IDs to manage."
      when: instance_ids | length == 0

    - name: Stop EC2 instance(s)
      amazon.aws.ec2_instance:
        instance_ids: "{{ instance_ids }}"
        state: stopped
        region: "{{ aws_region }}"
        wait: yes
      when: action | default('') == 'stop'

    - name: Start EC2 instance(s)
      amazon.aws.ec2_instance:
        instance_ids: "{{ instance_ids }}"
        state: running
        region: "{{ aws_region }}"
        wait: yes
      when: action | default('') == 'start'

    - name: Display instance status
      amazon.aws.ec2_instance_info:
        instance_ids: "{{ instance_ids }}"
        region: "{{ aws_region }}"
      register: instance_info

    - name: Show instance details
      ansible.builtin.debug:
        msg: "Instance {{ item.instance_id }}: {{ item.state.name }}"
      loop: "{{ instance_info.instances }}"
