---
- name: Show All Host Groups
  hosts: all
  gather_facts: no
  
  tasks:
    - name: Display all groups for each host
      ansible.builtin.debug:
        msg: "Host '{{ inventory_hostname }}' belongs to groups: {{ group_names }}"

    - name: Display summary of all groups and their members
      ansible.builtin.debug:
        msg: |
          Group: {{ item.key }}
          Members: {{ item.value | join(', ') }}
      loop: "{{ groups | dict2items }}"
      run_once: yes
      delegate_to: localhost
